:root{
  --color-1: #ffffff;
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("../storage/font/Manrope/static/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Marope-Regular";
  src: url("../storage/font/Manrope/static/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Marope-Medium";
  src: url("../storage/font/Manrope/static/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope-Semibold";
  src: url("../storage/font/Manrope/static/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "letra-righteous";
  src: url("../storage/font/Righteous/Righteous-Regular.ttf");
}