<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/crear.css">
    <title>Crear</title>
</head>

<body>
    <header class="menu_header">
        <div class="logotipado">
            <img src="../storage/img/logoprincipal.svg" alt="">
            <h1>Rank My Fandom</h1>
        </div>
        <div class="opciones_menu">
            <a href="../views/principal.html">Home</a>
            <a href="../views/peliculas.html">Peliculas</a>
            <a href="../views/series.html">Series</a>
            <a href="../views/crear.html">Crear</a>
        </div>
        <div class="opcion_notificacion">
            <img src="../storage/img/lupita.svg" alt="">
            <img src="../storage/img/campanita.svg" alt="">
        </div>
    </header>
    <main>
        
    </main>
</body>

</html>