<!-- Pagina del login diseñada para que el usuario se pueda loguear-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank My Fandom</title>
    <link rel="stylesheet" href="../css/login.css">
    <!-- logo de la pagina -->
    <link rel="icon" href="../storage/img/logo.png" type="image/png">
</head>

<body>
    <!-- banner principal -->
    <div class="cajamain">
        <img src="../storage/img/bannerpelis2.png" class="banner-img" />
        <div class="cajainformation">
            <div class="textoylogo">
                <h1>Sign up</h1>
                <input type="text" id="username" placeholder="Nombre Completo">
                <input type="date" id="fecha" placeholder="Fecha de Nacimiento">
                <input type="text" id="email" placeholder="Correo Electronico">
                <input type="password" id="password" placeholder="Contraseña" >
                <button id="registrarBtn">Crear Cuenta!</button>
                <p>Ya tienes una cuenta? <a href="./login.html">Inicia Sesion!</a></p>
            </div>
        </div>
    </div>
</body>

<script>
        const BASE_URL = "http://localhost:3000";

        document.getElementById("registrarBtn").onclick = () => {
            const nombre = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            fetch(`${BASE_URL}/api/v1/auth/register`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username, email, password })
            })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                alert("Usuario registrado ✅");
                window.location.href = "./login.html"; // ir al login después
            })
            .catch(err => console.error(err));
        }
    </script>
</html>