<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/crearcategory.css">
    <title>Crear</title>
</head>

<body>
    <header class="menu_header">
        <div class="logotipado">
            <img src="../storage/img/logoprincipal.svg" alt="">
            <h1>Rank My Fandom</h1>
        </div>
        <div class="opciones_menu">
            <a href="../views/admin.html">Aprobadas</a>
            <a href="../views/pendientes.html">Pendientes</a>
            <a href="../views/crearcategory.html">Crear</a>
        </div>
        <div class="opcion_notificacion">
            <img src="../storage/img/lupita.svg" alt="">
            <img src="../storage/img/campanita.svg" alt="">
        </div>
    </header>
    <main class="caja_main">
        <div class="caja_principal">
            <div class="input_titulo">
                <h5>Titulo de la categoria</h5>
                <input type="text" placeholder="Titulo de la categoria">
            </div>
            <div class="input_descripcion">
                <h5>Descripcion de la categoria</h5>
                <input type="text" placeholder="Descripcion de la categoria">
            </div>
            <div class="input_fecha">
                <h5>Fecha de creacion</h5>
                <input type="date" placeholder="Fecha de creacion">
            </div>
            <!-- <div class="input_categoria">
                <h5 for="categoria">Selecciona una opcion:</h5>
                <select id="categoria" name="categoria">
                    <option value="Seleccionar">Seleccione una opcion</option>
                    <option value="Pelicula">Pelicula</option>
                    <option value="Serie">Serie</option>
                </select>
            </div>
            <div class="input_subcategoria">
                <h5 for="categorias">Seleccione una categoria</h5>
                <select id="categorias" name="categorias">
                    <option value="Seleccionar">Seleccione una opcion</option>
                    <option value="Accion">Accion</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Drama">Drama</option>
                </select>
            </div>
            <div class="input_imagen">
                <h5>Imagen de la Funcion</h5>
                <input type="file" id="fileInput">
            </div> -->
            <div class="input_boton">
                <button>Crear</button>
            </div>
        </div>
    </main>
</body>

</html>