<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/funcion.css">
    <title>Document</title>
</head>

<body>
    <header class="menu_header">
        <div>
            <img src="../storage/img/retroceder.png" alt="">
        </div>
        <div class="logotipado">
            <img src="../storage/img/logoprincipal.svg" alt="">
            <h1>Rank My Fandom</h1>
        </div>
        <div class="opcion_notificacion">
            <img src="../storage/img/lupita.svg" alt="">
            <img src="../storage/img/campanita.svg" alt="">
        </div>
    </header>
    <main>
        <img class="banner" src="../storage/img/squid-game-banner (1).png" alt="">
        <div class="descripcion">
            <div class="caja_info">
                <h1 class="titulo">Squid Game</h1>
                <p class="texto">Un grupo de personas con deudas abrumadoras es llevado a un misterioso juego de
                    supervivencia...</p>
                <div class="valoracion">
                    <img src="../storage/img/like.svg" alt="">
                    <img src="../storage/img/dislike.svg" alt="">
                </div>
            </div>
        </div>
    </main>
    <article class="top_tendencia">
        <h2>Comentarios / Reseñas</h2>

        <footer class="footer_section" id="section_comentario">
            <div class="div_comment">
                <h2>Deja un comentario</h2>
                <textarea class="textarea" id="commentInput" rows="3" cols="89"
                    placeholder="Escribe tu comentario aquí..."></textarea>
            </div>
            <br>
            <button class="botones" onclick="postComment()">Enviar comentario</button>
        </footer>

        <div class="comentarios">
            <div class="comentario1">
                <img src="../storage/img/usuarionormal.png" alt="">
                <p><strong>Usuario1:</strong> ¡Increíble serie! No pude dejar de verla.</p>
            </div>
            <div class="comentario2">
                <img src="../storage/img/usuarionormal.png" alt="">
                <p><strong>Usuario2:</strong> La trama es muy interesante, pero el final me dejó confundido.</p>
            </div>
            <div class="comentario3">
                <img src="../storage/img/usuarionormal.png" alt="">
                <p><strong>Usuario3:</strong> Me encantó la actuación de los personajes principales.</p>
            </div>
        </div>
    </article>
</body>

</html>