<!-- Pagina del login diseñada para que el usuario se pueda loguear-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank My Fandom</title>
    <link rel="stylesheet" href="../css/login.css">
    <!-- logo de la pagina -->
    <link rel="icon" href="../storage/img/logo.png" type="image/png">
</head>

<body>
    <!-- banner principal -->
    <div class="cajamain">
        <img src="../storage/img/bannerpelis2.png" class="banner-img" />
        <div class="cajainformation">
            <div class="textoylogo">
                <img src="../storage/img/administrador.png" alt="logo" />
                <h1>Sign in</h1>
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña" >
                <button>Inicia Sesion!</button>
            </div>
        </div>
    </div>
</body>

</html>