<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/pendientes.css">
</head>

<body>
    <header class="menu_header">
        <div class="logotipado">
            <img src="../storage/img/logoprincipal.svg" alt="">
            <h1>Rank My Fandom</h1>
        </div>
        <div class="opciones_menu">
            <a href="../views/admin.html">Aprobadas</a>
            <a href="../views/pendientes.html">Pendientes</a>
            <a href="../views/crearcategory.html">Crear</a>
        </div>
        <div class="opcion_notificacion">
            <img src="../storage/img/lupita.svg" alt="">
            <img src="../storage/img/campanita.svg" alt="">
        </div>
    </header>
    <article class="top_tendencia">
        <h2>Ciencia Ficción</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Ciencia Ficción</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Ciencia Ficción</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Ciencia Ficción</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Ciencia Ficción</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Ciencia Ficción</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="aceptar_propuesta">
                            <button class="boton_aceptacion">
                                <img src="../storage/img/like.svg" alt="">
                                <p>Aprobar</p>
                            </button>
                        </div>
                        <div class="rechar_propuesta">
                            <button class="boton_rechazo">
                                <img src="../storage/img/dislike.svg" alt="">
                                <p>Rechazar</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
</body>
<script>
    // seleccionamos cada carrusel completo
    const carruseles = document.querySelectorAll(".carrusel");

    carruseles.forEach((carrusel) => {
        const contenedor = carrusel.querySelector(".categorizacion");
        const btnIzquierda = carrusel.querySelector(".flecha.izquierda");
        const btnDerecha = carrusel.querySelector(".flecha.derecha");

        btnDerecha.addEventListener("click", () => {
            contenedor.scrollBy({ left: 300, behavior: "smooth" });
        });

        btnIzquierda.addEventListener("click", () => {
            contenedor.scrollBy({ left: -300, behavior: "smooth" });
        });
    });
</script>
</body>

</html>