<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <title>Home</title>
</head>

<body>
    <header class="menu_header">
        <div class="logotipado">
            <img src="../storage/img/logoprincipal.svg" alt="">
            <h1>Rank My Fandom</h1>
        </div>
        <div class="opciones_menu">
            <span>Home</span>
            <span>Movies</span>
            <span>Series</span>
            <span>Categories</span>
        </div>
        <div class="opcion_notificacion">
            <img src="../storage/img/lupita.svg" alt="">
            <img src="../storage/img/campanita.svg" alt="">
        </div>
    </header>
    <main>
        <img src="../storage/img/squid-game-banner (1).png" alt="">
        <div class="descripcion">
            <div class="caja_info">
                <h1>Squid Game</h1>
                <p>Un grupo de personas con deudas abrumadoras es llevado a un misterioso juego de supervivencia, donde
                    deben enfrentarse en versiones mortales de juegos infantiles para ganar una enorme fortuna… pero
                    cada decisión, cada traición y cada sacrificio los acerca más a la verdad detrás de la máscara, y a
                    la pregunta final: ¿vale la vida lo que cuesta el premio?</p>
                <div class="valoracion">
                    <button>Ver más</button>
                    <img src="../storage/img/like.svg" alt="">
                    <img src="../storage/img/dislike.svg" alt="">
                </div>
                <div class="caja_flechas">
                    <img src="../storage/img/flechaizquierda.svg" alt="">
                    <div class="caja_carrusel">
                        <img src="../storage/img/rayallena.svg" alt="">
                        <img src="../storage/img/rayavacia.svg" alt="">
                        <img src="../storage/img/rayavacia.svg" alt="">
                        <img src="../storage/img/rayavacia.svg" alt="">
                    </div>
                    <img src="../storage/img/flechaderecha.svg" alt="">
                </div>
            </div>
        </div>
    </main>
    <article class="top_tendencia">
        <h2>Tendencias actuales</h2>
        <div class="categorizacion">
            <div class="caja_tendencias">
            <div class="banner-peli">
                <img src="../storage/img/Destino final.png" alt="">
                <div class="top">
                    <span>1</span>
                </div>
            </div>
            <div class="info_peli">
                <div class="likes_dislikes">
                    <div class="likes">
                        <img src="../storage/img/like.svg" alt="">
                        <p>500k</p>
                    </div>
                    <div class="dislikes">
                        <img src="../storage/img/dislike.svg" alt="">
                        <p>100k</p>
                    </div>
                </div>
                <div class="comentarios">
                    <img src="../storage/img/comentario.png" alt="">
                    <p>100</p>
                </div>
            </div>
        </div>
        <div class="caja_tendencias">
            <div class="banner-peli">
                <img src="../storage/img/knypelicula.png" alt="">
                <div class="top">
                    <span>2</span>
                </div>
            </div>
            <div class="info_peli">
                <div class="likes_dislikes">
                    <div class="likes">
                        <img src="../storage/img/like.svg" alt="">
                        <p>500k</p>
                    </div>
                    <div class="dislikes">
                        <img src="../storage/img/dislike.svg" alt="">
                        <p>100k</p>
                    </div>
                </div>
                <div class="comentarios">
                    <img src="../storage/img/comentario.png" alt="">
                    <p>100</p>
                </div>
            </div>
        </div>
        <div class="caja_tendencias">
            <div class="banner-peli">
                <img src="../storage/img/minecraftmovie.png" alt="">
                <div class="top">
                    <span>3</span>
                </div>
            </div>
            <div class="info_peli">
                <div class="likes_dislikes">
                    <div class="likes">
                        <img src="../storage/img/like.svg" alt="">
                        <p>500k</p>
                    </div>
                    <div class="dislikes">
                        <img src="../storage/img/dislike.svg" alt="">
                        <p>100k</p>
                    </div>
                </div>
                <div class="comentarios">
                    <img src="../storage/img/comentario.png" alt="">
                    <p>100</p>
                </div>
            </div>
        </div>
        <div class="caja_tendencias">
            <div class="banner-peli">
                <img src="../storage/img/kingtheland.png" alt="">
                <div class="top">
                    <span>4</span>
                </div>
            </div>
            <div class="info_peli">
                <div class="likes_dislikes">
                    <div class="likes">
                        <img src="../storage/img/like.svg" alt="">
                        <p>500k</p>
                    </div>
                    <div class="dislikes">
                        <img src="../storage/img/dislike.svg" alt="">
                        <p>100k</p>
                    </div>
                </div>
                <div class="comentarios">
                    <img src="../storage/img/comentario.png" alt="">
                    <p>100</p>
                </div>
            </div>
        </div>
        </div>
    </article>
</body>

</html>