<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/series.css">
    <title>Series</title>
</head>

<body>
    <header class="menu_header">
        <div class="logotipado">
            <img src="../storage/img/logoprincipal.svg" alt="">
            <h1>Rank My Fandom</h1>
        </div>
        <div class="opciones_menu">
            <a href="../views/principal.html">Home</a>
            <a href="../views/peliculas.html">Peliculas</a>
            <a href="../views/series.html">Series</a>
            <a href="../views/crear.html">Crear</a>
        </div>
        <div class="opcion_notificacion">
            <img src="../storage/img/lupita.svg" alt="">
            <img src="../storage/img/campanita.svg" alt="">
        </div>
    </header>
    <article class="top_tendencia">
        <h2>Series de ficcion</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Series de terror</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Series de comedia</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Series Romancticas</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Series de Anime</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
    <article class="top_tendencia">
        <h2>Dramas Coreanos(K-drama)</h2>

        <div class="carrusel">
            <button class="flecha izquierda">&#10094;</button>

            <div class="categorizacion">
                <!-- Cada tarjeta -->
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/Destino final.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/minecraftmovie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/knypelicula.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/kingtheland.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/sonatadeinvierno.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/bettylafea.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/merlina.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/barbie.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/gumball.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
                <div class="caja_tendencias">
                    <div class="banner-peli">
                        <img src="../storage/img/escaleraalcielo.png" alt="">
                    </div>
                    <div class="info_peli">
                        <div class="likes_dislikes">
                            <div class="likes"><img src="../storage/img/like.svg">
                                <p>500k</p>
                            </div>
                            <div class="dislikes"><img src="../storage/img/dislike.svg">
                                <p>100k</p>
                            </div>
                        </div>
                        <div class="comentarios"><img src="../storage/img/comentario.png">
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>


            <button class="flecha derecha">&#10095;</button>
        </div>
    </article>
</body>
<script>
    // seleccionamos cada carrusel completo
    const carruseles = document.querySelectorAll(".carrusel");

    carruseles.forEach((carrusel) => {
        const contenedor = carrusel.querySelector(".categorizacion");
        const btnIzquierda = carrusel.querySelector(".flecha.izquierda");
        const btnDerecha = carrusel.querySelector(".flecha.derecha");

        btnDerecha.addEventListener("click", () => {
            contenedor.scrollBy({ left: 300, behavior: "smooth" });
        });

        btnIzquierda.addEventListener("click", () => {
            contenedor.scrollBy({ left: -300, behavior: "smooth" });
        });
    });
</script>


</html>